.texturina-title {
  font-family: 'Texturina', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.uncial-antiqua-regular {
  font-family: 'Uncial Antiqua', system-ui;
  font-weight: 500;
  font-style: normal;
}
