@import 'primeicons/primeicons.css';
@import 'tailwindcss';
@import 'tailwindcss-primeui';
/* @import './base.css'; */

html {
  scroll-behavior: smooth;
}

h1 {
  @apply text-3xl mb-3;
}

h2 {
  @apply text-xl mb-2;
}

.p-card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25) !important;
}

.main-section-container {
  @apply w-[95%] mt-[1vh] min-h-[85vh];
}
